@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f3f3;
  color: #333;
  direction: ltr;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 16px;
}

.peer:not(:placeholder-shown) ~ label {
  @apply top-2 text-xs text-gray-400;
}
